<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>


    <title>Trouble ticketing</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   
</head>
<body>
<div class="container">

    <h2 th:text="'Trouble Ticketing App'" align="center"></h2>
    <div class="row">
      <div class="col s12 m5"  >
        <div class="card-panel teal" style="width: 250%">
          <span class="white-text"  th:text="#{index.info}" >
        	Website Info
          </span>
        </div>
      </div>
    </div>
</div>
        	<a href="/ticketing/login" class="waves-effect waves-light btn-large"
				 style="display: block; margin: 0 auto; width: 300px">
				 <i class="material-icons left">person</i>
				 log in
			 </a>
</body>
</html>