<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Projects</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Projects</h1>
    <table>
      <tr>
      	<th>ID</th>
      	<th>Name</th>
        <th>Type</th>
        <th>Project Lead</th>
        <th>Start date</th>
        <th>End Date</th>
      </tr>
      <tr th:each="proj : ${projectsList}">
        <td th:text="${proj.projectId}">001</td>
        <td th:text="${proj.name}">Name</td>
        <td th:text="${proj.type}">Type</td>
        <td th:text="${proj.projectLead}">Project lead</td>
        <td th:text="${proj.startDate}">Start date</td>
        <td th:text="${proj.endDate}">End date</td>
        <td><a th:href="${'/ticketing/adminPanel/editProject/' + proj.projectId}" 
        	class="btn btn-default">EDIT</a></td>
      </tr>
    </table>
</body>
</html>

