<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>


    <title>Trouble ticketing</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
   
</head>
<body>
<div class="container">

    <h2 th:text="'Success'" align="center"></h2>
    <p th:text="'Project ' + ${project.name} + ' created successfully.'">
    <hr>
    <p><b>Project properties</b></p>
    <ul>
      	<li th:text="'Type: ' + ${project.type}"></li>
    	<li th:text="'Project lead: ' + ${project.projectLead}"></li>
    	<li th:text="'Start date: ' + ${project.startDate}"></li>
    	<li th:text="'End date: ' + ${project.endDate}"></li>
    </ul>
    
    <div class="row center">
		<form class="col s12" method="get" th:action="@{/adminPanel}">
		<button class="btn waves-effect waves-light" type="submit" name="action">
			<i class="material-icons">keyboard_return</i>
				Admin Panel
		</button>
		</form>
	 </div>
    </p>
</div>
</body>
</html>