<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tickets</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <!-- material icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Tickets</h1>
    <table class="striped">
      <tr>
      	<th>ID</th>
      	<th>Subject</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Report date</th>
        <th>Assignee</th>
        <th>Reporter</th>
        <th>Project Id</th>
        <th>Status</th>
        <th>Description</th>
        <th>Resolution</th>
      </tr>
      <tr th:each="ticket : ${ticketsList}">
        <td th:text="${ticket.ticketId}">001</td>
        <td th:text="${ticket.subject}">Subject</td>
        <td th:text="${ticket.type}">Type</td>
        <td th:text="${ticket.priority}">Priority</td>
        <td th:text="${ticket.reportDate}">Report date</td>
        <td th:text="${ticket.assignee}">Assignee</td>
        <td th:text="${ticket.reporter}">Reporter</td>
        <td th:text="${ticket.project.projectId}">Project Id</td>
        <td th:text="${ticket.status}">Status</td>
        <td th:text="${ticket.description}">Description</td>
        <td th:text="${ticket.resolution}">Resolution</td>
	    <td th:if="${ticket.resolution} == false"><a th:href="${'/ticketing/adminPanel/editTicket/' + ticket.ticketId}" 
	        class="btn btn-default">EDIT</a>
	    </td>
      </tr>
    </table>
</body>
</html>

